NODE_ENV=production
PORT=3000
DATABASE_URL=postgresql://postgres:azUaWzfAeMpZlFYKZyBHbKZopESysRFd@crossover.proxy.rlwy.net:55255/railway
JWT_SECRET=qwertyuiopasdfghjklzxcvbnm1234567890
VERIFICATION_CODE_EXPIRES_MINUTES=10
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
